# Predicting the Output Electrical Power of Combined Cycle Power Plant              with the help of 6 Years(2006-2011) data of the plant.
## Authour : Byri Manoj S

## Importing revelent packages

In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Importing Datasets

In [2]:
raw_data = pd.read_excel('Combined Cycle Power Plant Dataset.xlsx')
data = raw_data.copy()
data.head()

      AT      V       AP     RH      PE
0  14.96  41.76  1024.07  73.17  463.26
1  25.18  62.96  1020.04  59.08  444.37
2   5.11  39.40  1012.16  92.14  488.56
3  20.86  57.32  1010.24  76.64  446.48
4  10.82  37.50  1009.23  96.62  473.90

## Data Preprocessing

In [3]:
data.rename(columns={'AT':'Temp', 'V':'Exhaust_Vaccum', 'AP':'Pressure', 'RH':'Humidity', 'PE':'Power_Output'})

       Temp  Exhaust_Vaccum  Pressure  Humidity  Power_Output
0     14.96           41.76   1024.07     73.17        463.26
1     25.18           62.96   1020.04     59.08        444.37
2      5.11           39.40   1012.16     92.14        488.56
3     20.86           57.32   1010.24     76.64        446.48
4     10.82           37.50   1009.23     96.62        473.90
...     ...             ...       ...       ...           ...
9563  16.65           49.69   1014.01     91.00        460.03
9564  13.19           39.18   1023.67     66.78        469.62
9565  31.32           74.33   1012.92     36.48        429.57
9566  24.48           69.45   1013.86     62.39        435.74
9567  21.60           62.52   1017.23     67.87        453.28

[9568 rows x 5 columns]

In [4]:
data.shape

(9568, 5)

In [5]:
x = data.iloc[:,:-1].values
y = data.iloc[:, -1].values

In [6]:
from sklearn.model_selection import train_test_split as tts
x_train, x_test, y_train, y_test = tts(x, y, random_state = 143, test_size=0.2)

## Feature Scaling

In [7]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
x_train = ss.fit_transform(x_train)
x_test = ss.transform(x_test)

## Buliding the Neural Network

In [8]:
ann_r = tf.keras.models.Sequential()

In [9]:
ann_r.add(tf.keras.layers.Dense(units=50, activation = 'relu'))
ann_r.add(tf.keras.layers.Dense(units=50, activation = 'relu'))
ann_r.add(tf.keras.layers.Dense(units=50, activation = 'relu'))
ann_r.add(tf.keras.layers.Dense(units=1))

In [10]:
ann_r.compile(optimizer='adam', loss='MeanSquaredError')

In [11]:
ann_r.fit(x_train, y_train, batch_size=32, epochs=100)

Epoch 1/100
240/240 [==============================] - 0s 369us/step - loss: 91697.4453
Epoch 2/100
240/240 [==============================] - 0s 354us/step - loss: 4812.5444
Epoch 3/100
240/240 [==============================] - 0s 357us/step - loss: 1527.8562
Epoch 4/100
240/240 [==============================] - 0s 357us/step - loss: 559.0094
Epoch 5/100
240/240 [==============================] - 0s 356us/step - loss: 246.1214
Epoch 6/100
240/240 [==============================] - 0s 351us/step - loss: 130.8932
Epoch 7/100
240/240 [==============================] - 0s 360us/step - loss: 80.2058
Epoch 8/100
240/240 [==============================] - 0s 356us/step - loss: 53.9722
Epoch 9/100
240/240 [==============================] - 0s 352us/step - loss: 40.7816
Epoch 10/100
240/240 [==============================] - 0s 355us/step - loss: 33.0637
Epoch 11/100
240/240 [==============================] - 0s 363us/step - loss: 28.1760
Epoch 12/100
240/240 [==============================] - 0s 350us/step - loss: 25.5537
Epoch 13/100
240/240 [==============================] - 0s 354us/step - loss: 23.9215
Epoch 14/100
240/240 [==============================] - 0s 350us/step - loss: 22.7011
Epoch 15/100
240/240 [==============================] - 0s 351us/step - loss: 22.0713
Epoch 16/100
240/240 [==============================] - 0s 354us/step - loss: 21.4233
Epoch 17/100
240/240 [==============================] - 0s 354us/step - loss: 21.5838
Epoch 18/100
240/240 [==============================] - 0s 349us/step - loss: 21.0299
Epoch 19/100
240/240 [==============================] - 0s 350us/step - loss: 20.8457
Epoch 20/100
240/240 [==============================] - 0s 350us/step - loss: 20.5045
Epoch 21/100
240/240 [==============================] - 0s 354us/step - loss: 20.6616
Epoch 22/100
240/240 [==============================] - 0s 347us/step - loss: 20.3998
Epoch 23/100
240/240 [==============================] - 0s 350us/step - loss: 21.3609
Epoch 24/100
240/240 [==============================] - 0s 358us/step - loss: 20.9603
Epoch 25/100
240/240 [==============================] - 0s 356us/step - loss: 21.0908
Epoch 26/100
240/240 [==============================] - 0s 356us/step - loss: 20.0337
Epoch 27/100
240/240 [==============================] - 0s 351us/step - loss: 21.2876
Epoch 28/100
240/240 [==============================] - 0s 353us/step - loss: 20.2799
Epoch 29/100
240/240 [==============================] - 0s 350us/step - loss: 20.5004
Epoch 30/100
240/240 [==============================] - 0s 352us/step - loss: 20.1050
Epoch 31/100
240/240 [==============================] - 0s 368us/step - loss: 20.4617
Epoch 32/100
240/240 [==============================] - 0s 353us/step - loss: 20.7220
Epoch 33/100
240/240 [==============================] - 0s 351us/step - loss: 20.4853
Epoch 34/100
240/240 [==============================] - 0s 350us/step - loss: 19.9977
Epoch 35/100
240/240 [==============================] - 0s 354us/step - loss: 21.2687
Epoch 36/100
240/240 [==============================] - 0s 355us/step - loss: 21.0451
Epoch 37/100
240/240 [==============================] - 0s 348us/step - loss: 20.5599
Epoch 38/100
240/240 [==============================] - 0s 351us/step - loss: 20.0224
Epoch 39/100
240/240 [==============================] - 0s 351us/step - loss: 21.5446
Epoch 40/100
240/240 [==============================] - 0s 352us/step - loss: 19.5881
Epoch 41/100
240/240 [==============================] - 0s 350us/step - loss: 19.8843
Epoch 42/100
240/240 [==============================] - 0s 351us/step - loss: 20.9719
Epoch 43/100
240/240 [==============================] - 0s 353us/step - loss: 19.8465
Epoch 44/100
240/240 [==============================] - 0s 349us/step - loss: 19.0416
Epoch 45/100
240/240 [==============================] - 0s 354us/step - loss: 19.5385
Epoch 46/100
240/240 [==============================] - 0s 350us/step - loss: 19.5300
Epoch 47/100
240/240 [==============================] - 0s 351us/step - loss: 21.1022
Epoch 48/100
240/240 [==============================] - 0s 351us/step - loss: 19.7883
Epoch 49/100
240/240 [==============================] - 0s 350us/step - loss: 19.6695
Epoch 50/100
240/240 [==============================] - 0s 349us/step - loss: 20.5300
Epoch 51/100
240/240 [==============================] - 0s 353us/step - loss: 20.1973
Epoch 52/100
240/240 [==============================] - 0s 352us/step - loss: 19.6647
Epoch 53/100
240/240 [==============================] - 0s 353us/step - loss: 19.5263
Epoch 54/100
240/240 [==============================] - 0s 350us/step - loss: 19.4907
Epoch 55/100
240/240 [==============================] - 0s 351us/step - loss: 21.1483
Epoch 56/100
240/240 [==============================] - 0s 349us/step - loss: 19.5917
Epoch 57/100
240/240 [==============================] - 0s 360us/step - loss: 18.9565
Epoch 58/100
240/240 [==============================] - 0s 350us/step - loss: 20.3922
Epoch 59/100
240/240 [==============================] - 0s 354us/step - loss: 18.6304
Epoch 60/100
240/240 [==============================] - 0s 350us/step - loss: 18.9414
Epoch 61/100
240/240 [==============================] - 0s 350us/step - loss: 19.8591
Epoch 62/100
240/240 [==============================] - 0s 353us/step - loss: 19.9772
Epoch 63/100
240/240 [==============================] - 0s 350us/step - loss: 19.8284
Epoch 64/100
240/240 [==============================] - 0s 355us/step - loss: 19.8961
Epoch 65/100
240/240 [==============================] - 0s 351us/step - loss: 19.1897
Epoch 66/100
240/240 [==============================] - 0s 353us/step - loss: 19.9177
Epoch 67/100
240/240 [==============================] - 0s 358us/step - loss: 20.0164
Epoch 68/100
240/240 [==============================] - 0s 351us/step - loss: 19.2166
Epoch 69/100
240/240 [==============================] - 0s 355us/step - loss: 19.3220
Epoch 70/100
240/240 [==============================] - 0s 350us/step - loss: 19.4971
Epoch 71/100
240/240 [==============================] - 0s 352us/step - loss: 18.8856
Epoch 72/100
240/240 [==============================] - 0s 353us/step - loss: 19.3264
Epoch 73/100
240/240 [==============================] - 0s 351us/step - loss: 20.6240
Epoch 74/100
240/240 [==============================] - 0s 352us/step - loss: 19.4585
Epoch 75/100
240/240 [==============================] - 0s 352us/step - loss: 19.8897
Epoch 76/100
240/240 [==============================] - 0s 354us/step - loss: 19.5867
Epoch 77/100
240/240 [==============================] - 0s 354us/step - loss: 20.3297
Epoch 78/100
240/240 [==============================] - 0s 350us/step - loss: 19.2511
Epoch 79/100
240/240 [==============================] - 0s 351us/step - loss: 18.8171
Epoch 80/100
240/240 [==============================] - 0s 366us/step - loss: 19.0615
Epoch 81/100
240/240 [==============================] - 0s 350us/step - loss: 18.7312
Epoch 82/100
240/240 [==============================] - 0s 352us/step - loss: 19.2503
Epoch 83/100
240/240 [==============================] - 0s 358us/step - loss: 20.1953
Epoch 84/100
240/240 [==============================] - 0s 352us/step - loss: 18.9717
Epoch 85/100
240/240 [==============================] - 0s 354us/step - loss: 19.6758
Epoch 86/100
240/240 [==============================] - 0s 354us/step - loss: 19.8402
Epoch 87/100
240/240 [==============================] - 0s 352us/step - loss: 19.6919
Epoch 88/100
240/240 [==============================] - 0s 353us/step - loss: 19.5914
Epoch 89/100
240/240 [==============================] - 0s 355us/step - loss: 20.0321
Epoch 90/100
240/240 [==============================] - 0s 354us/step - loss: 19.8115
Epoch 91/100
240/240 [==============================] - 0s 353us/step - loss: 19.8343
Epoch 92/100
240/240 [==============================] - 0s 353us/step - loss: 19.3279
Epoch 93/100
240/240 [==============================] - 0s 353us/step - loss: 20.6337
Epoch 94/100
240/240 [==============================] - 0s 355us/step - loss: 18.6099
Epoch 95/100
240/240 [==============================] - 0s 352us/step - loss: 19.3692
Epoch 96/100

240/240 [==============================] - 0s 351us/step - loss: 19.5321
Epoch 97/100
240/240 [==============================] - 0s 355us/step - loss: 19.3577
Epoch 98/100
240/240 [==============================] - 0s 352us/step - loss: 18.7872
Epoch 99/100
240/240 [==============================] - 0s 349us/step - loss: 19.1387
Epoch 100/100
240/240 [==============================] - 0s 353us/step - loss: 19.6712

In [12]:
ann_r.evaluate(x_train, y_train)

240/240 [==============================] - 0s 265us/step - loss: 18.3441

18.3441219329834

## Testing our network on unseen test dataset

In [13]:
y_pred = ann_r.predict(x_test)

### Comparing the predicted and actual outputs side-by-side

In [14]:
Evaluate = pd.DataFrame(data = y_pred, columns=['Predicted_Values'])
Evaluate['Targets'] = y_test

In [15]:
Evaluate

      Predicted_Values  Targets
0           473.644318   470.85
1           477.024902   473.98
2           447.741058   452.21
3           469.122345   469.83
4           444.736023   444.89
...                ...      ...
1909        430.476471   432.98
1910        442.096191   440.78
1911        438.346893   439.77
1912        464.429321   462.21
1913        467.170105   464.62

[1914 rows x 2 columns]

In [16]:
from sklearn.metrics import *

In [17]:
r2_score(y_pred, y_test)

0.9358715037712251

# Our Artifical Brain is 94% accurate on the unseen dataset